#  The last 100 years of football, visualized

This notebook describes the code behind the project FootB, which web-scraps the final table of Serie A (Italy), Premier League (UK), League 1 (France), La Liga (Spain) and looks at their overall statistics.

## The data

The data come from the english version of wikipedia. The workflow looks something like this:
1. Load the webpage
2. Find the table we are interested in
3. Transform the data in a homogeneous usable format

Easy! Unfortunatelly there are some complications: leagues change name over the years (the Premier League was known as Football League before 1992); final tables can contain extra-columns or have differen column names depending on the year and/or on the league (the Football League has columns for home and away matches); some table entries can be of different type.

## Snippet of the code for Serie A (1985-86)
I want to show an example code to transform the final table for Serie A (1985-86) into a pandas dataframe. The code below will not work for all years because the format is not homogeneous. The code working for all seasons and all leagues can be found here and it takes into account all the small differences between the tables. 

Here is first five entries of the table for Serie A (1985-86):
<img src="Serie_A.png" alt="Drawing" style="width: 700px;"/>

The columns we are interested in are: the Team name, the game played (Pld), won (W), lost (L), drawn (D), goals for (GF), goals against (GA), goal difference (GD) and points (Pts). Not all leagues used the same scoring system, so below we will redefine Pts using the current system: 3 points for a victory, 1 point for drawn, 0 points for loss.

In [1]:
from bs4 import BeautifulSoup
import urllib2
import pandas as pd
import numpy as np
import httplib2
import re

Most of the wikipedia tables we are dealing with will more than one table:

In [2]:
header = {'User-Agent': 'Mozilla/5.0'} # Needed to prevent 403 error on Wikipedia

wpage = 'https://en.wikipedia.org/wiki/1985-86_Serie_A'
req = urllib2.Request(wpage, headers = header)
page = urllib2.urlopen(req)
soup = BeautifulSoup(page, 'html5lib')
all_tables = soup.find_all('table')

where `all_tables` is a BeautifulSoup object which contains all the tables of our wikipedia page. 

We can loop through the tables and break the loop when we find a table containing `W` and `D` in the first row:

In [3]:
theone = [u'W', u'D']
for table in all_tables:
    all_rows = table.find_all('tr')
    lencols = len(all_rows[0].find_all('th')) 
    #Extract column names only
    cols = np.array([all_rows[0].find_all('th')[i].get_text().encode('ascii', 'ignore') for i in range(0, lencols)])
    if (theone[0] in cols) & (theone[1] in cols):
        rows = all_rows
        lenrows = len(rows)
        break
print cols

['P' 'Team' 'Pld' 'W' 'D' 'L' 'GF' 'GA' 'GD' 'Pts'
 'Promotion or relegation']

where`cols` is a list of all column names, whereas `table` is a BeautifulSoup object containing the html for our table of interest. 

Now we can create an empty dataframe. We will discard the Position column and create a new one from scratch using the dataframe index. We will also ignore the last column which can have different meanings for every year-season

In [4]:
columns = ['Team', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD'] 
df = pd.DataFrame(columns = columns, index = range(1, lenrows))
df.head(3)

  Team  Pld    W    D    L   GF   GA   GD
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [11]:
for i in range(1, lenrows):
    team = rows[i].find_all('td')
    df.Team.ix[i] = team[np.where(cols == 'Team')[0][0]].a.get_text().encode('ascii', 'ignore')
    for colnames in ['Pld','W', 'D', 'L', 'GF', 'GA','GD']:
        mask = np.where(cols == colnames)[0]
        df[colnames].ix[i] = int(team[mask[0]].get_text().encode('ascii', 'ignore'))
print df.head(3)

       Team Pld   W   D  L  GF  GA  GD  year   league  Pos
1  Juventus  30  18   9  3  43  17  26  1986  Serie A    1
2      Roma  30  19   3  8  51  27  24  1986  Serie A    2
3    Napoli  30  14  11  5  35  21  14  1986  Serie A    3

Let's add the year in which the season ended in the form of a pandas Period, the league name and the final position:

In [12]:
year = wpage.split('/')[-1].split('_')[0]
df['year'] = pd.Period(year.split('-')[0]) + 1
df['league'] = 'Serie A'
df['Pos'] = df.index
print df.head(3)

       Team Pld   W   D  L  GF  GA  GD  year   league  Pos
1  Juventus  30  18   9  3  43  17  26  1986  Serie A    1
2      Roma  30  19   3  8  51  27  24  1986  Serie A    2
3    Napoli  30  14  11  5  35  21  14  1986  Serie A    3

Transform the numerical columns into integers

In [13]:
coltmp = ['Pos', 'Pld', 'W', 'D', 'L', 'GF', 'GA','GD']
df[coltmp] = df[coltmp].astype(float).astype(int)
df.dtypes

Team      object
Pld        int64
W          int64
D          int64
L          int64
GF         int64
GA         int64
GD         int64
year      object
league    object
Pos        int64
dtype: object

Lastly, let's define the points `Pts` using the modern standard system, in which victory is 3 points, loss is 1 point and drawn is 0 points

In [76]:
df['Pts'] = df.W * 3. + df.D
print df

              Team  Pld   W   D   L  GF  GA  GD  year   league  Pos  Pts
1         Juventus   30  18   9   3  43  17  26  1986  Serie A    1   63
2             Roma   30  19   3   8  51  27  24  1986  Serie A    2   60
3           Napoli   30  14  11   5  35  21  14  1986  Serie A    3   53
4       Fiorentina   30  10  13   7  29  23   6  1986  Serie A    4   43
5           Torino   30  11  11   8  31  26   5  1986  Serie A    5   44
6   Internazionale   30  12   8  10  36  33   3  1986  Serie A    6   44
7            Milan   30  10  11   9  26  24   2  1986  Serie A    7   41
8         Atalanta   30   7  15   8  27  26   1  1986  Serie A    8   36
9             Como   30   7  15   8  32  32   0  1986  Serie A    9   36
10          Verona   30   9  10  11  31  40  -9  1986  Serie A   10   37
11       Sampdoria   30   8  11  11  27  25   2  1986  Serie A   11   35
12        Avellino   30   9   9  12  28  38 -10  1986  Serie A   12   36
13         Udinese   30   6  13  11  31  37  -6  1986  Serie A   13   31
14            Pisa   30   5  13  12  27  40 -13  1986  Serie A   14   28
15            Bari   30   5  12  13  18  31 -13  1986  Serie A   15   27
16           Lecce   30   5   6  19  23  88 -67  1986  Serie A   16   21

That's it. We have transformed the final table for the Serie A (1985-86) into a pandas dataframe.

## All leagues, all years